.home {
  height: 100vh;
  background-color: #f4f4f5;
}

.products {
  background-color: white;

  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
  overflow: hidden;
  /* display: grid;
  grid-template-columns: repeat(8, 100px); */
}

.product-container {
  border: 1px solid gray;
  height: 100%;
}

.product-container img {
  /* position: relative; */
  height: 250px;
  width: 100%;
  /* z-index: 0; */
}

#name,
#price {
  /* position: absolute;
  z-index: 1; */
  display: block;
  text-align: center;
}
