.navbar {
  background-color: white;
  position: relative;
  padding: 0.5rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

/* .navbar ul li {
  padding: 1rem;
} */
